/* this will applied to all elements */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f4f6fc;
  color: #333;
  width: 100%;
}

/* this will apply to header / navbar styling*/
header {
  background-color:#1e90ff;
  color: white;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* portfolio title */
header h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
  
}
/* navigation list styling */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}
/* navbar links style */
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #e0f0ff;
  text-decoration: underline;
}

main {
  padding-top: 100px 20px 60px;
  text-align: center;
}
/* style for section */
section {
  padding: 50px 20px;
}

section h2 {
  color: #1e90ff;
  margin-bottom: 15px;
}

/* style for picture */
#about img {
  width: 160px;
  border-radius: 50%;
  border: 3px solid #1e90ff;
  margin: 15px 0;
}

/* style for table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 70%;
}
/* style for table head and table data */
th, td {
  border: 1px solid #ccc;
  padding: 10px;
}
/* style for table head */
th {
  background-color: #1e90ff;
  color: white;
}


form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="submit"] {
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1e90ff;
}
/* footer styling */
footer {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}


a[href="#main"] {
  position: absolute;
  left: -999px;
  top: auto;
}

a[href="#main"]:focus {
  left: 10px;
  top: 10px;
  background: white;
  color: #1e90ff;
  padding: 5px 10px;
  border-radius: 5px;
}
